node_modules/
.env
*.log
.DS_Store
.claude/
public/scramjet/
public/bare-mux/
public/epoxy/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
